<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nextcode.bulletin.board.BoardMapper">
    <insert id="createBoard">
        INSERT INTO tb_board (
            parent_id
            , grpNum
            , grpOrd
            , depth
            , title
            , content
            , createdAt
            , email
        )
        SELECT
            0 AS parent_id
            , ifnull(MAX(grpNum),0) + 1 AS grpNum
            , 0 AS grpOrd
            , 0 as depth
            , #{title} as title
            , #{content} as content
            , NOW() AS createdAt
            , #{email} AS email
        FROM tb_board
    </insert>
    <!--
     <where>
            <if test="@org.apache.common.lang3.StringUtils@isNotEmpty(title)">
             AND title=#{title}
            </if>
            <if test="@org.apache.common.lang3.StringUtils@isNotEmpty(content)">
            AND content=#{content}
            </if>
        </where>
    -->
    <select id="getBoardList" resultType="com.nextcode.bulletin.board.domain.BoardVO">
        SELECT id,parent_id,grpNum,grpOrd,depth,title,content,email
        FROM tb_board
        ORDER BY grpNum ASC, grpOrd ASC
    </select>

    <select id="getBoardDetail" resultType="com.nextcode.bulletin.board.domain.BoardVO">
        select id,parent_id,grpNum,grpOrd,depth,title,content
        from tb_board
        where id = #{id}
    </select>

    <insert id="createComment">
          INSERT INTO tb_board (
             parent_id
           , grpNum
           , grpOrd
           , depth
           , title
           , content
           , createdAt
           , email
        ) SELECT
-- //reqeust.getParameter로 id값 넘겼음
            #{id} AS parent_id
            , #{grpNum} as grpNum
            , #{grpOrd}+1 as grpOrd
            , #{depth}+1 as depth
            , #{title} as title
           , #{content} as content
           , NOW() AS createdAt
           , #{email} AS email
            FROM tb_board
    </insert>
</mapper>
